fastapi
uvicorn
python-dotenv
PyJWT
bcrypt
pydantic
pydantic-settings
email-validator
python-multipart
sqlalchemy
mysql-connector-python
psycopg[binary]
psycopg-pool
python-jose
passlib
aiofiles
mailjet-rest
cloudinary
